<div class="main users-new">
	<div class="container">
		<h1 class="form-heading">New poemer</h1>

		<div class="form users-form">
			<div class="form-body">

				<div class="error_message">
					<% @user.errors.full_messages.each do |message| %>
					<%= message %>
					<% end %>
				</div>

				<%= form_tag("/users/create")do %>
				<p>ユーザー名</p>
				<input name ="name" value="<%= @user.name %>">
				<p>メールアドレス</p>
				<input name ="email" value="<%= @user.email %>">

				<input type ="submit" value="登録">
				<% end %>
			</div>
		</div>


	</div>
</div>