<div class = "about-main">
  <h2>Poemyとは</h2>
  <p>ポエムしか呟くことのできない革命的SNSサービスです。</p>
  <script type="text/javascript">
  $("div").hover(
    function(){
  $("p").fadeIn();
},
function(){
  $("p").fadeOut();
}
  )
  </script>
</div>