<div class="main top-main"> 
  <div class="top-message">
  	<h2>ようこそ、１秒前のあなた</h2>
    <img src="assets/ポメレオン＿半グレー切り抜き.png">
    <h2><span>さよなら、本当の私</span></h2>
  </div>
      <div class ="background"></div>
</div>



   




